.required-field::after {
    content: ' *';
    color: var(--danger);
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.461) !important;
}

.button-icon {
    width: 15px;
    height: 15px;
    margin-bottom: 3px;
}

.actions-container {
    display: flex;
    justify-content: center;
}

.actions-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.button-actions,
.button-actions-sm {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 50%; 
}

.disabled-custom-input{
    border-radius: 5px;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    cursor: not-allowed;
  }